#lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:black;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);opacity:0.85;display:none;}
#lightbox{position:absolute;left:0;width:100%;z-index:10000;text-align:center;line-height:0;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-weight:normal;}
#lightbox img{width:auto;height:auto;}
#lightbox a img{border:none;}
.lb-outerContainer{position:relative;background-color:white;*zoom:1;width:250px;height:250px;margin:0 auto;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;}
.lb-outerContainer:after{content:"";display:table;clear:both;}
.lb-container{padding:10px;}
.lb-loader{position:absolute;top:40%;left:0%;height:25%;width:100%;text-align:center;line-height:0;}
.lb-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10;}
.lb-container > .nav{left:0;}
.lb-nav a{outline:none;}
.lb-prev, .lb-next{width:49%;height:100%;background-image:url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");display:block;}
.lb-prev{left:0;float:left;}
.lb-next{right:0;float:right;}
.lb-prev:hover{background:url(../images/prev.png) left 48% no-repeat;}
.lb-next:hover{background:url(../images/next.png) right 48% no-repeat;}
.lb-dataContainer{margin:0 auto;padding-top:5px;*zoom:1;width:100%;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;-ms-border-bottom-left-radius:4px;-o-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;-ms-border-bottom-right-radius:4px;-o-border-bottom-right-radius:4px;border-bottom-right-radius:4px;}
.lb-dataContainer:after{content:"";display:table;clear:both;}
.lb-data{padding:0 10px;color:#bbbbbb;}
.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em;}
.lb-data .lb-caption{font-size:13px;font-weight:bold;line-height:1em;}
.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:11px;}
.lb-data .lb-close{width:35px;float:right;padding-bottom:0.7em;outline:none;}
.lb-data .lb-close:hover{cursor:pointer;}