/*
 * Main CSS Style
 */
@font-face {
    font-family: 'open_sanslight';
    src: url('../font/opensans-light-webfont.eot');
    src: url('../font/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-light-webfont.woff') format('woff'),
         url('../font/opensans-light-webfont.ttf') format('truetype'),
         url('../font/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans-regular-webfont.eot');
    src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-regular-webfont.woff') format('woff'),
         url('../font/opensans-regular-webfont.ttf') format('truetype'),
         url('../font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../font/opensans-semibold-webfont.eot');
    src: url('../font/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-semibold-webfont.woff') format('woff'),
         url('../font/opensans-semibold-webfont.ttf') format('truetype'),
         url('../font/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../font/opensans-bold.eot');
    src: url('../font/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-bold.woff') format('woff'),
         url('../font/opensans-bold.ttf') format('truetype'),
         url('../font/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaLTCondensedBlack';
    src: url('../font/HelveticaLTCondensedBlack.eot');
    src: url('../font/HelveticaLTCondensedBlack.eot?#iefix') format('embedded-opentype'),
         url('../font/HelveticaLTCondensedBlack.woff') format('woff'),
         url('../font/HelveticaLTCondensedBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.sprite {
    background-image: url(../img/sprite-icons.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-inline {
	display: inline-block;
	vertical-align: middle;
}


.sprite-arrow_down {
    width: 31px;
    height: 31px;
    background-position: -5px -5px;
}

.sprite-bell {
    width: 17px;
    height: 17px;
    background-position: -46px -5px;
}

.sprite-excel {
    width: 24px;
    height: 25px;
    background-position: -73px -5px;
}

.sprite-gear {
    width: 20px;
    height: 20px;
    background-position: -46px -40px;
}

.sprite-home_03 {
    width: 21px;
    height: 21px;
    background-position: -76px -40px;
}

.sprite-next {
    width: 33px;
    height: 31px;
    background-position: -5px -71px;
}

.sprite-page_next {
    width: 33px;
    height: 31px;
    background-position: -48px -71px;
}

.sprite-page_prev {
    width: 33px;
    height: 31px;
    background-position: -91px -71px;
}

.sprite-prev {
    width: 33px;
    height: 31px;
    background-position: -107px -5px;
}

.sprite-printer {
    width: 23px;
    height: 20px;
    background-position: -134px -46px;
}

.sprite-refresh {
    width: 21px;
    height: 21px;
    background-position: -134px -76px;
}

.sprite-report {
    width: 14px;
    height: 18px;
    background-position: -150px -5px;
}

.sprite-tree {
    width: 19px;
    height: 19px;
    background-position: -134px -107px;
}

.sprite-user {
    width: 18px;
    height: 18px;
    background-position: -5px -136px;
}


html,body {
    height: 100%;
}
body {
	background-color: #1a3d51 !important;
	font-family:'open_sansregular',sans-serif;
	font-size: 90%/1.249;
    text-align: left;
    padding: 0;
}
.body-bg{
	/*background-image: url("../img/bg.jpg");*/
    background-repeat: repeat;
	background-position: 0 0;
	background-color: #e9edf0 !important;
}
a {
    color: #0F5E94;
    text-decoration: none;
}

#wrap > .container-fluid {
  padding: 59px 15px 0;
}
.container-fluid .text-muted {
  margin: 20px 0;
}

#footer > .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  text-align:center;
}

#footer .container-fluid p {
    color: #484e52;
}

code {
  font-size: 80%;
}
/*.a-float{
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.8);
    margin: 20px auto 0;
    padding: 10px;
    position: fixed;
    right: 1%;
    top: 7%;
    width: 35%;
    z-index: 9999;
}*/
.a-float {
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    z-index: 1;
}
.main-nav {
    background-color: #22333e;
    border: 1px solid #12232e;
    border-radius: 0 0 4px 4px;
    margin-top: -2px !important;
    width: 100%;
}
.main-nav a {
    color: #fff !important;
    text-align: right;
}
.main-nav a:hover {
	background-color: #fe793f !important;
}
#lhoopa-nav {
	height: 60px;
	background-color: #2b414f;
}
.navbar{border: medium none !important;}
#lhoopa-nav a.navbar-brand {
    float: left;
    font-size: 18px;
    line-height: 20px;
    margin: 13px 20px 13px 0 !important;
    padding: 0;
}
#lhoopa-nav a.navbar-brand img{
    width: 70%;
}

#lhoopa-nav .navbar-nav2 {
    float: left;
    margin: 0;
}
#lhoopa-nav .navbar-nav2 > li {
    float: left;
}
#lhoopa-nav .navbar-nav2 > li > a {
	color: #fff;
   padding: 20px 15px;
}
#lhoopa-nav .navbar-nav2  li.active > a{
    color: #fff;
    background: #fe793f !important;
}
.dropdown  li.active > a{ 

}
#lhoopa-nav .navbar-nav2 > li > a:hover {
	color: #000;
}
#lhoopa-nav .navbar-nav2 > li > a > span {
	margin-right: 10px;
}
/*#lhoopa-nav .navbar-nav2 li img{
    margin: 2px auto;
    padding: 0 0 0 10px;
}*/
#lhoopa-nav .navbar-nav2 li img {
    border-radius: 25px;
    height: 40px;
    margin: 10px 0 10px 10px;
    padding: 0;
    width: 40px;
}



#lhoopa-nav .container-fluid {
    padding: 0 15px;
}

.default-background {
	background-color: #22333e;
}
ul.nav-submenu {
    
    border-radius: 0;
	text-align: center;
}
.navbar-nav.submenu {
	float: none;
	text-align: center;
}
.navbar-nav.submenu > li {
	display: inline-block;
	float: none;
}
ul.nav-submenu li{
	display:inline-block;
	text-align: center;
	
}
ul.nav-submenu li a{
    border-right: 1px solid #414852;
    color: #fff;
    display: inherit;
    font-size: 15px;
    padding: 15px;
    text-align: center !important;
    text-transform: uppercase;
	font-family:'open_sansbold',sans-serif;
	position: relative
}
.nav-icon{
    background-color: transparent;
    background-image: url("../img/nav-icons.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 17px;
    margin: 3px 0 0 10px;
    position: absolute;
    width: 17px;
}
.nav-icon.nav-d{
	background-position: 0 0;
}
.nav-icon.nav-p{
	background-position: -14px 0;
}
.nav-icon.nav-t{
    background-position: -31px 0;
    margin-top: 5px;
}


.table-align-left{
	text-align: left !important;
}
.table-align-right{
	text-align: right !important;
}
.table-align-center{
	text-align: center !important;
}
.table-align-middle{
	vertical-align: middle !important;
}
.tab-title{
    color: #333333;
    font-family: 'open_sansbold';
    font-size: 14px;
    text-transform: uppercase;
    width: auto;
}
.fil1 {
    background-color: #FFFFFF !important;
    background-image: url("../img/drop-green.png");
    background-position: right top;
    background-repeat: no-repeat;
    border: 1px solid #E5E5E5 !important;
    border-radius: 5px !important;
    color: #333333 !important;
    float: left;
    font-family: open_sanssemibold !important;
    font-size: 12px;
    height: 37px;
    margin: 0;
    padding: 10px 50px 10px 12px !important;
    width: 230px;
}
.btn-green{
    background-image: url("../img/det.jpg");
    background-repeat: repeat-x;
    border: medium none;
    border-radius: 30px;
    box-shadow: 0 1px 2px 1px rgba(1, 1, 1, 0.1);
    color: #FFFFFF;
    float: right;
    font-family: open_sanssemibold;
    font-size: 12px;
    height: 37px;
    margin-left: 10px;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px #687F1B;
    text-transform: uppercase;
    width: 103px;
}
.btn-green:hover, a.btn-green:hover{
	color: #FFFFFF;
	text-decoration: none;
	text-shadow:1px 1px 1px #94b133;
	background-image:url("../img/det-h.jpg");
}
.btn-green:active, a.btn-green:active {
    text-decoration: none !important;
}

.green {
    color: #99BB22;
    font-family: open_sansbold;
    font-size: 15px;
    text-transform: uppercase;
}

.table thead th {
    /*background-image: url("../img/t-tab.jpg");*/
    background-repeat: repeat-x;
    border-color: transparent transparent #3ac8fd !important;
    border-style: solid none !important;
    border-width: 0 0 2px !important;
    color: #2b3138;
    font-family: open_sansregular;
    font-size: 12px;
    height: 16px !important;
    padding: 10px !important;
}
.table thead th a{
	color: #2B3138;
    font-family: open_sansregular;
    font-size: 12px;
}
.table td {
	font-size: 12px;
	padding: 10px;
    vertical-align: inherit !important;
}
.image-td .img-holder {
    padding: 0;
}
.image-td .img-holder img {
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    padding: 4px;
}
.property-title {
    color: #FF6600;
    font-size: 14px;
    font-weight: 600;
}
.property-desc{
    font-size: 11px;
    font-style: italic;
}


.details-gallery{
    overflow: hidden;
    position: relative;
    width: 100%;
}
#gallery-slideshow {
    height: 350px;
    overflow: hidden;
    width: auto;
}
#gallery-slideshow a {
    height: 375px;
}
#gallery-slideshow img {
    height: 100%;
    max-height: 100%;
    width: 100%;
}
#gallery-nav-prev, #gallery-nav-next {
    top: 180px !important;
}
#gallery-nav-prev {
    left: 0 !important;
    margin-left: 10px;
    margin-top: 0;
    padding: 0 0 0 1px !important;
    position: absolute !important;
    top: 160px !important;
    z-index: 9 !important;
}
#gallery-nav-next {
    margin-right: 10px;
    margin-top: 0;
    padding: 0 1px 0 0 !important;
    position: absolute !important;
    right: 0 !important;
    top: 160px !important;
    z-index: 9 !important;
}
#gallery-thumbs {
    float: left;
    height: 90px;
    margin-top: 0;
    width: 100%;
}
ul#gallery-nav {
    margin: 10px 0 10px 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
#gallery-nav {
    float: left;
    margin: 0;
}
#gallery-nav li {
    border-bottom: 1px solid #CCCCCC;
    display: inline;
    line-height: 1.5em;
    float: left;
    list-style: none outside none;
    margin: 0 10px 10px 0 !important;
    width: 115px !important;
}
#gallery-nav li.activeSlide a {
    background: none repeat scroll 0 0 #CFCFCF;
}
#gallery-nav a {
    border: 1px none #CCCCCC;
    border-radius: 0 !important;
    display: block;
    margin-bottom: 0;
    padding: 0 !important;
    width: 115px !important;
}
#gallery-nav li a img {
    border: medium none;
    display: block;
    height: 79px !important;
    width: 113px !important;
}
.show-grid {
    margin-bottom: 15px;
}
.show-grid2 {
    display: inline-block;
    margin: 10px auto;
    width: 100%;
}
div.rating-cancel, div.star-rating {display: block !important;}

/* ########### [START] LAB LEFT/RIGHT/BOTTOM CSS ########### */
.tabs-below > .nav-tabs > a,
.tabs-right > .nav-tabs > a:hover,
.tabs-left > .nav-tabs > a:focus {
	float: none !important;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li,
.tabs-below > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a,
.tabs-below > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
  text-align: left;
  
  background-color: #F3FCFF !important;
  background-image: none !important;
  border-color: #DDDDDD !important; /* rgba(0, 0, 0, 0) #DDDDDD #DDDDDD !important;*/
  color: #333333;
}
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px !important;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee rgba(0, 0, 0, 0) #eeeeee #eeeeee !important;
  float: none;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd !important;
  *border-right-color: #ffffff;
  float: none;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
.tabs-left #cat-content{
    float: left;
    margin: 0;
    min-height: 330px;
    padding: 0 10px 10px 0;
    width: 76%;
}
/* ########### [END] LAB LEFT/RIGHT/BOTTOM CSS ########### */

/* ########### [START] SPINEDIT CSS ########### */
.rooms {
    /*background-color: #F3F5F6 !important;*/
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
}
.rooms-text {
    background-position: left center;
    background-repeat: no-repeat;
    color: #333333;
    float: left;
    font-size: 13px;
    font-weight: 600;
    margin-top: 7px;
    padding-left: 25px;
}
.rooms-text span {
    color: #FF6600;
    margin-right: 5px;
}

input.num_bedroom,
input.num_bathroom,
input.num_parking {
    background-color: transparent !important;
    border: medium none;
    border-radius: 0;
    bottom: 4px;
    box-shadow: none;
    color: #FF6600;
    font-weight: 600;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute !important;
    text-align: center !important;
    width: 26px !important;
}
.rooms .spinedit {
    position: relative;
}
.rooms [class^="icon-"], [class*=" icon-"] {
    margin-top: 0 !important;
}
.rooms .spinedit .icon-chevron-up {
    background-image: url("../img/plusminus.png");
    background-position: -27px -1px;
    float: right;
    height: 31px;
    position: static;
    width: 27px;
}
.rooms .spinedit .icon-chevron-up:hover{
	background-position: -27px -35px;
}
.rooms .spinedit .icon-chevron-down {
    background-image: url("../img/plusminus.png");
    background-position: 0 -1px;
    float: left;
    height: 31px;
    position: static;
    width: 27px;
}
.rooms .spinedit .icon-chevron-down:hover {
	background-position: 0px -35px;
}
.bath-text {
    background-position: left center;
    background-repeat: no-repeat;
    color: #333333;
    float: left;
    font-size: 13px;
    font-weight: 600;
    margin-top: 7px;
    padding-left: 25px;
}
.bath-text span {
    color: #FF6600;
    margin-right: 5px;
}
/* ########### [END] SPINEDIT CSS ########### */


input.prix-input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    padding: 10px;
    width: 38%;
} 
#lever_1.lever, 
#lever_2.lever{
	height: auto;
	padding: 4px;
	border-radius: 18px;
}
#lever_1.lever .slider-range-1, 
#lever_2.lever .slider-range-2,
#lever_3.lever .slider-range-3{
    background: none repeat scroll 0 0 #808283 !important;
    border: 4px solid #EBEBEB !important;
    box-shadow: 0 0 2px rgba(1, 1, 1, 0.5), 0 0 2px 2px rgba(1, 1, 1, 0.3) inset !important;
    color: #333333 !important;
    height: 15px !important;
}
.slider-range-1 .ui-widget-header, 
.slider-range-2 .ui-widget-header, 
.slider-range-3 .ui-widget-header{
    background-color: #2979F1;
    background-image: linear-gradient(to bottom, #076BA3, #009DF5);
    background-repeat: repeat-x;
    display: block;
    height: 7px;
    position: relative;
    top: 0;
}
.ui-slider-horizontal {
    height: 0.6em !important;
}
.ui-corner-all{
    border-radius: 10px !important;
}
.ui-slider .ui-slider-handle{
    background: none repeat scroll 0 0 #EBEBEB !important;
    border: 3px solid #D3D3D3 !important;
    box-shadow: 0 2px 4px #202020, 0 2px 3px #606060 inset !important;
    cursor: default !important;
    height: 15px !important;
    padding: 0 !important;
    position: absolute !important;
    top: -4px !important;
    width: 15px !important;
    z-index: 2 !important;
}


.text-label{
    color: #333333;
    font-family: 'open_sansbold';
    font-size: 12px;
	text-transform: uppercase;
}
.pbox {
    border: 1px solid #E7ECEF;
    display: table;
    height: auto;
    padding: 15px 0;
    width: 100%;
}
.rate {
    border: 1px solid #E7ECEF;
    border-radius: 20px;
    color: #CC6633;
    float: right;
    font-family: 'open_sansbold';
    font-size: 25px;
    height: auto;
    line-height: normal;
    margin-bottom: 20px;
    padding: 3px 15px;
    text-align: center;
    width: 100%;
}
.modal-dialog {
    margin: 80px auto !important;
    width: 900px !important;
}

.amenities {
    background-image: url("../img/icon-cross.png");
    background-position: 2% 35%;
    background-repeat: no-repeat;
    font-size: 12px;
    line-height: 25px;
    margin: 0 0 -5px !important;
    padding-left: 30px;
}
.amenities label {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 35px;
    margin-top: 0;
}
.img-loader {
	width: 32px;
	height: 32px;
	margin: 5% auto;
}

/* Login styles
-------------------------------------------------- */
.login-bg {
	/*background-color: transparent;
	background-image: url("../img/login-bg.png");*/
	background-repeat:  repeat-x;
	background-position: center 100px;
	
    /*min-height: 600px;*/
    width: 100%;
    padding-top: 70px;
}
.login-box {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #345468;
    border-radius: 10px;
    color: #fff;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    text-align: center;
    width: 380px;
}
.label-ttle {
    color: #e0e5e8;
    font-family: "open_sansregular";
    font-weight: normal;
    margin: 0 0 5px;
    text-align: left;
}
.login-bg .login-logo {
    height: 69px;
    margin: 0 auto 40px;
    width: 360px;
}
.login-logo img {
    display: block;
    margin: 0 auto;
}
.login-label {
    background-color: #38c2f5;
    border-radius: 8px 8px 0 0;
    color: #fff;
    font-size: 20px;
    margin: -20px -20px 25px;
    padding: 15px 20px;
    text-transform: uppercase;
}
.login-label img{
	margin: 0 auto;
}
.form-name {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
}
input.login-input {
    background: none repeat scroll 0 0 #ffffff;
    border: medium none;
    border-radius: 4px;
    color: #333333;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
    width: 100%;
}
.login-button {
    /*height: 221px;
    margin-top: 20px;
    padding-top: 20px;*/
    width: 100%;
}
.blue-button-login {
    background-position: 0 0;
    background-repeat: repeat;
    border-radius: 50px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.blue-button-login input.btn-login {
    background-color: #159ddc;
    background-image: url("../img/white-icons.png");
    background-position: 39% -120px;
    background-repeat: no-repeat;
    border: 1px solid #42a1df;
    border-radius: 5px;
    box-shadow: 0 1px 2px #7bc6f7 inset;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 30px 10px 70px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
.blue-button-login input.btn-login:hover {
	background-color:  #3fb4eb;
}
.orange-button-login input.btn-login {
    background-color: #ec703a;
    background-image: url("../img/white-icons.png");
    background-position: 39% -115px;
    background-repeat: no-repeat;
    border: 1px solid #ec703a;
    border-radius: 2px;
    box-shadow: 0 1px 2px #ec703a inset;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 30px 15px 70px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
.orange-button-login input.btn-login:hover {
    background-color:  #fc804a;
}
.form-name label {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
}
a.pref{background-image:url(../img/icons.png);background-position:0 -950px;float:right;height:22px;width:20px;margin-left:5px;margin-right:5px}
a.pref:hover{background-image:url(../img/icons.png);background-position:-20px -950px;float:right;height:22px;width:20px}

a.det{background-image:url(../img/icons.png);background-position:0px -860px;float:right;height:22px;width:20px;margin-left:5px;margin-right:5px}
a.det:hover{background-image:url(../img/icons.png);background-position:-20px -860px;float:right;height:22px;width:20px}

a.del{background-image:url(../img/icons.png);background-position:0 198px;float:right;height:22px;width:20px;margin-left:5px;margin-right:5px}
a.del:hover{background-image:url(../img/icons.png);background-position:-20px 198px;float:right;height:22px;width:20px}

a.info{background-image:url(../img/icons.png);background-position:0px -995px;float:right;height:22px;width:20px;margin-left:5px;margin-right:5px}
a.info:hover{background-image:url(../img/icons.png);background-position:-20px -995px;float:right;height:22px;width:20px}

a.his{background-image:url(../img/icons.png);background-position:0 65px;float:right;height:22px;width:20px;margin-left:5px;margin-right:5px}
a.his:hover{background-image:url(../img/icons.png);background-position:-20px 65px;float:right;height:22px;width:20px}

a.edit{background-image:url(../img/icons.png);background-position:0 22px;float:right;height:22px;width:20px;margin-left:5px;margin-right:5px}
a.edit:hover{background-image:url(../img/icons.png);background-position:-20px 22px;float:right;height:22px;width:20px}

.d-con{background-image:url(../img/icons.png);background-repeat:no-repeat;background-position: 0 -496px;float:left;height:20px;width:20px;margin-right:7px}
.d-con2{background-image:url(../img/icons.png);background-repeat:no-repeat;background-position: 0 -537px;float:left;height:20px;width:20px;margin-right:7px}
.d-con3{background-image:url(../img/icons.png);background-repeat:no-repeat;background-position: 0 -620px;float:left;height:20px;width:20px;margin-right:7px}
.d-con4{background-image:url(../img/icons.png);background-repeat:no-repeat;background-position: 0 -576px;float:left;height:20px;width:20px;margin-right:7px}

.grey{font-size:12px;color:#333;float:left;font-family:open_sansregular;margin-right:5px}
.num{color: #90AE29;float: left;font-family: open_sansbold;font-size: 14px;width: auto;}

hr {
    background-color: #FFFFFF;
    border-top: 1px dashed #E3ECF3;
    color: #FFFFFF;
    height: 4px;
}
p {
    font-family: open_sansregular;
    font-size: 12px;
    line-height: 20px;
	text-align: justify;
}
.pdf {
    background-image: url("../img/pdf.jpg");
    float: left;
    height: 39px;
    margin-top: 10px;
    width: 165px;
}
#dash-1{
	background-image: url("../img/dashboard-bg-1.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
    margin: 0 15px;
    min-height: 400px;
    width: 442px;
}
#dash-2{
	background-image: url("../img/dashboard-bg-2.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% auto;
    margin: 0 15px;
    min-height: 400px;
    width: 442px;
}
.btn-dash{
    display: table !important;
    float: none !important;
    font-size: 20px !important;
    margin: 320px auto !important;
    width: 170px !important;
}
.btn-dash:focus{text-decoration: none; color: #fff;}

.select2-container {
    width: 100%;
}
.select2-container .select2-choice {
	height: 34px !important;
    line-height: 30px !important;
}
.select2-container .select2-choice .select2-arrow b {
	background-position: 0 3px !important;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 3px !important;
}
.select2-container .select2-choice abbr {
	top: 9px !important;
}

/* tabs styles
-------------------------------------------------- */
#vtab {
    display: inline-block;
    height: 100%;
    margin: 1% auto 2%;
}
#vtab > ul > li {
	width: 146px;
	height: 120px;
	display: block;
	text-align: center;
	margin: auto;
	position: relative;
}
#vtab > ul > li.home {
	background-image: url(../img/tabs-bt.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;    
}
#vtab > ul > li.client {
	background-repeat: no-repeat;
	background-position: -148px 0px;
	background-image: url(../img/tabs-bt.png);
}
#vtab > ul > li.property {
	background-image: url(../img/tabs-bt.png);
	background-repeat: no-repeat;
	background-position: -296px 0px;
}
#vtab > ul > li.report {
	background-image: url(../img/tabs-bt.png);
	background-repeat: no-repeat;
	background-position: -444px 0px;
	float: left;
}
		
#vtab > ul > li.home.selected {
	z-index: 999;
	background-image: url(../img/tabs-bt.png);
	background-repeat: no-repeat;
	background-position: 0px -120px;
}
#vtab > ul > li.client.selected {
	z-index: 999;
	background-image: url(../img/tabs-bt.png);
	background-repeat: no-repeat;
	background-position: -148px -120px;
}
#vtab > ul > li.property.selected {
	z-index: 999;
	background-image: url(../img/tabs-bt.png);
	background-repeat: no-repeat;
	background-position: -296px -120px;
}
#vtab > ul > li.report.selected {
	z-index: 999;
	background-image: url(../img/tabs-bt.png);
	background-repeat: no-repeat;
	background-position: -444px -120px;
}
#vtab > ul {
	float: left;
	width: 144px;
	display: block;
	padding: 0;
	position: relative;
}
#vtab > div {
	background-color: #ffffff;
	margin-left: 1px;
	position: relative;
	z-index: auto;
	border-radius: 0px 8px 8px 8px;
	-webkit-box-shadow: 0px 1px 3px 2px rgba(1, 1, 1, 0.1);
	box-shadow: 0px 1px 3px 2px rgba(1, 1, 1, 0.1);
	height: auto;
	padding-top: 12px;
	padding-right: 20px;
	padding-bottom: 12px;
	padding-left: 20px;
	float: left;
	display: none;
}
#vtab > div > h4 {
	color: #800;
	font-size: 1.2em;
	border-bottom: 1px dotted #800;
	padding-top: 5px;
	margin-top: 0;
}
.nav-tabs > li > a {
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-family: 'open_sansbold';
    font-size: 12px;
    height: auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
	margin-right: 7px !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover{
    background-color: #FFFFFF !important;
	background-image: none !important;
	border-color: #DDDDDD #DDDDDD rgba(0, 0, 0, 0) !important;
    color: #333333;
    float: left;
}
.box-con1,.box-con2,.box-con3,.box-con4{
    float: left;
    height: auto;
    min-height: 600px;
    width: 955px;
}
.box-con2 .nav-tabs > li > a{
	background-color: #A8C73D;
    background-image: url("../img/tb-d.jpg");
    background-repeat: repeat-x;
    border-color: #98B535 #98B535 rgba(0, 0, 0, 0);
}
.box-con3 .nav-tabs > li > a{
	background-color: #FABC28;
    background-image: url("../img/tb-e.jpg");
    background-repeat: repeat-x;
    border-color: #F5B51E #F5B51E rgba(0, 0, 0, 0);
}
.box-con2 .nav-tabs > li > a .tab-icon,
.box-con3 .nav-tabs > li > a .tab-icon{
    float: left;
    height: 19px;
    margin-right: 8px;
    width: 24px;
	display: block;
}
.box-con2 .nav-tabs > li.active > a.tab1 .con04,
.box-con2 .nav-tabs > li > a.tab1:hover > .con04 {
    background-image: url("../img/icons.png");
    background-position: -46px -217px;
}
.box-con2 .nav-tabs > li > a.tab1 .con04 {
    background-image: url("../img/icons.png");
    background-position: 0 -217px;
}
.box-con2 .nav-tabs > li.active > a.tab2 .con05,
.box-con2 .nav-tabs > li > a.tab2:hover > .con05 {
    background-image: url("../img/icons.png");
    background-position: -46px -272px;
}
.box-con2 .nav-tabs > li > a.tab2 .con05 {
    background-image: url("../img/icons.png");
    background-position: 0 -272px;
}
.box-con2 .nav-tabs > li.active > a.tab3 .con06,
.box-con2 .nav-tabs > li > a.tab3:hover > .con06 {
    background-image: url("../img/icons.png");
    background-position: -46px -386px;
}
.box-con2 .nav-tabs > li > a.tab3 .con06 {
    background-image: url("../img/icons.png");
    background-position: 0 -386px;
}
.box-con2 .nav-tabs > li.active > a.tab4 .con07,
.box-con2 .nav-tabs > li > a.tab4:hover > .con07 {
    background-image: url("../img/icons.png");
    background-position: -46px -330px;
}
.box-con2 .nav-tabs > li > a.tab4 .con07 {
    background-image: url("../img/icons.png");
    background-position: 0 -330px;
}

.box-con3 .nav-tabs > li.active > a.tab5 .con08,
.box-con3 .nav-tabs > li > a.tab5:hover > .con08 {
    background-image: url("../img/icons.png");
    background-position: -46px -451px;
}
.box-con3 .nav-tabs > li > a.tab5 .con08 {
    background-image: url("../img/icons.png");
    background-position: 0 -451px;
}
.box-con3 .nav-tabs > li.active > a.tab6 .con09,
.box-con3 .nav-tabs > li > a.tab6:hover > .con09 {
    background-image: url("../img/icons.png");
    background-position: -46px -386px;
}
.box-con3 .nav-tabs > li > a.tab6 .con09 {
    background-image: url("../img/icons.png");
    background-position: 0 -386px;
}
.box-con3 .nav-tabs > li.active > a.tab7 .con10,
.box-con3 .nav-tabs > li > a.tab7:hover > .con10 {
    background-image: url("../img/icons.png");
    background-position: -46px -330px;
}
.box-con3 .nav-tabs > li > a.tab7 .con10 {
    background-image: url("../img/icons.png");
    background-position: 0 -330px;
}

.tab-content{margin: 15px auto;}

.detail-text {
    border: 1px solid #E3ECF3;
    margin: 0 10px 10px 0;
    padding: 10px;
    width: 40.267%;
}

.drop-tab {
    background-color: #FFFFFF;
    border: 1px solid #E2EBF0;
    color: #31373D;
    float: left;
    font-family: 'open_sansbold';
    font-size: 14px;
    height: auto;
    padding: 10px;
    width: 100%;
}
.box-con1 .drop-tab {
	border-bottom: 2px solid #44ADF3;
}
.box-con2 .drop-tab {
	border-bottom: 2px solid #B5C73E;
}
.box-con3 .drop-tab {
	border-bottom: 2px solid #F3B625;
}
.box-con4 .drop-tab {
	border-bottom: 2px solid #ee8b3d;
}

.cat-icons{
    background-image: url("../img/prop-con.png");
	background-position: 0 0;
    float: left;
    height: 20px;
    margin-right: 7px;
    width: 20px;
}
.p-con-1 {
    background-position: 0 -1891px;
}
.p-con-2 {
    background-position: 0 -1850px;
}
.p-con-3 {
    background-position: 0 -1949px;
}
.p-con-4 {
    background-position: 0 -1600px;
}
.p-con-5 {
    background-position: 0 -1648px;
}
.p-con-6 {
    background-position: 0 -1697px;
}
.p-con-7 {
    background-position: 0 -1748px;
}
.p-con-8 {
    background-position: 0 -1801px;
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -61px; /* 60px originally, aloted 01px for the border top at the footer*/
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
    height: 60px;
}
.alert-success {
    background: linear-gradient(to bottom, #6cbd58 0px, #5fa74e 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
    border-radius: 6px;
    color: #fff;
    padding: 9px 15px !important;
}
.alert-danger {
    background: linear-gradient(to bottom, #dd5952 0px, #bc3e33 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
    border-radius: 6px;
    color: #fff;
    padding: 9px 15px !important;
}

/* ============= */
.page-content {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    min-height: 600px;
    padding: 10px;
}
.widget-content {
	background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    padding: 10px;
}
.container-wrapper  {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    padding: 15px;
}
.list { list-style: none; padding-left: 0px; min-height: 150px;}
.list li {  border: 1px solid #f1f1f1; margin: 5px}
.list li.danger { border: 1px solid #a94442}
.tile-title, .tile-ro-code {
    background: none repeat scroll 0 0 #f1f1f1;
   padding: 5px;
   text-align: center;
   text-transform: capitalize;
}
.tile-ro-code, .product-tile .tile-title { text-transform: none;}
.product-tile { border: 2px solid #f1f1f1}
.product-tile .tile-title, .product-tile .tile-ro-code { text-align:  left; padding: 3px 10px; }
.product-tile .img-container {
    min-height: 165px;
}
.panel-default > .panel-heading.widget-title.modify-menu-title {
    background-color: #222;
    color: #fff;
}

#advanced-1 {height: 500px; overflow:  auto;}
#advanced-1 .js-remove  { display: none; }
#advanced-2 > li {
    clear: both;
    display: inline-block;
    float: none;
    max-width: 136px;
    width: 100%;
    ;

}
#advanced-2.request_items li {
    max-width: 100%; 
}
#advanced-1 .form_list , #advanced-2 .list_view { display: none; }


#advanced-1 li {
    max-width: 46%;
    display: inline-block;


}
#advanced-1 .exclude-btn ,#advanced-3 li .exclude-btn, #advanced-1 .item_qty, #advanced-3 .item_qty, #advanced-1 .item_id, #advanced-3 .item_id  {

    display: none;
}
.exclude-btn.active { color: red;}
.v-padding-wrapper { padding: 15px 0px;}
.no-margin-bottom {
	margin-bottom: 0px;
}
.panel-default > .panel-heading.widget-title {
    background-color: #404040;
    color: #fff;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}
.indent-20{ padding-left: 20px !important; }
.panel-heading a {
    color: inherit;
}
.page-content h1 {
    font-family: 'HelveticaLTCondensedBlack';
    font-size: 25px;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.page-content table {
    border: 1px solid #e6e8ec;
}
#submit-btn{
	text-transform: capitalize;
}
.fileupload .btn > .fileupload-new {
    padding: 0 26px;
}
.input-group-btn > .btn + .btn {
    margin-left: -5px !important;
}
.btn-add{
	width: 100%;
}
.hide { display: none;}
.navbar {
    margin-bottom: 10px !important;
}
.navbar-collapse {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.navbar-default {
	border-radius: 7px !important;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #fe793f !important;
    color: #fff;
}
.navbar-default .navbar-nav > li:first-child > a {
    border-radius: 5px 0 0 5px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus{
	background-color: #fe793f !important;
	color: #fff !important;
}
.label {
    border-radius: 5em;
    color: #ffffff;
    display: inline;
    font-size: 95%;
    font-weight: normal;
    line-height: 1;
    padding: 3px 9px;
    vertical-align: baseline;
    white-space: nowrap;
}
.dropdown-menu{min-width: 115px !important;}
.table td.table-align-top{vertical-align: top !important;}
#advance_search{
    border: 1px solid #e6e8ec;
    border-radius: 4px;
    display: none;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 10px;
}

input[type="checkbox"], input[type="text"], textarea, select {
	margin-bottom: 10px;
}
input[type="checkbox"].center-input {
	display: block;
	margin: 4px auto;
}

.widget-title {
	background-color: #e5703d;
	text-transform: Uppercase;
	padding: 10px;
	color: #fff;
	font-family: Roboto;
	
}
.input-group.inputgroup-gray { min-width: 132px; float: right;}
.widget-title h4 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.page-title {
    background-color: #e5703d;
    text-transform: Uppercase;
    padding: 10px;
    color: #fff;
    font-family: Roboto;
    margin-top;
    margin: -10px -10px 10px;
}
.page-title  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.widget-body {
	background-color: #fff;
	padding: 10px 35px;
}
.widget-container {
	margin-bottom: 10px;
	border: 1px solid #dbdbdb;
}

.inputgroup-gray {
	background-color: #c2c2c2;
	border: 2px solid #c2c2c2;
	
}
.image-container {
	background-color: #e5e9ea;
	height: 80px;
	width: 80px;
	display: block;
	margin: 0px auto;
}
.large-image-container {

    width: 150px;
            height: 150px;
}

.center-text td, .center-text th {
	text-align: center;
}
.inputgroup-gray .btn {
	background-color: #fff;
	color: #000;
	border-radius: 0px;
}

.image-container img {
	width: 100%;
}
.image-container { width: 80px !important; height: 80px !important;}
.large-image-container { width: 130px !important; height: 130px !important;}
#wrap .large-image-container img { margin-top: 3px;}
#wrap #advanced-3 .large-image-container  { width: 100% !important; }
div .nailthumb-container { display: block; margin: auto;}
tr.danger {

    background: red;
}

.submenu li { position: relative;}
.dropdown {

   background-color: #22333e;
    color: #fff;
    position: absolute;
    text-align: left;
    width: 154%;
    display: none;
    z-index: 9;
}
.topright-menu .dropdown { background-color: #eee; color: #000;}
.dropdown ul { list-style: none; padding: 10px;}
.dropdown ul li a,
.dropdown ul li a:hover { color: #fff; text-decoration: none; width: 100%; display: block;}
.topright-menu .dropdown ul li a, .topright-menu .dropdown ul li a:hover { background-color: #eee; color: #000;}
.submenu li:hover .dropdown { display: block;}
.topright-menu li:hover .dropdown { display: block;}
/* AJAX LOADER */
.bubblingG {
text-align: center;
width:80px;
height:50px;
}
.dropdown .active {
    margin: 5px -10px;
}
.dropdown .active > a {
    padding: 5px 10px;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 10px;
height: 10px;
margin: 25px auto;
background: #000000;
-moz-border-radius: 50px;
-moz-animation: bubblingG 1.3s infinite alternate;
-webkit-border-radius: 50px;
-webkit-animation: bubblingG 1.3s infinite alternate;
-ms-border-radius: 50px;
-ms-animation: bubblingG 1.3s infinite alternate;
-o-border-radius: 50px;
-o-animation: bubblingG 1.3s infinite alternate;
border-radius: 50px;
animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.39s;
-webkit-animation-delay: 0.39s;
-ms-animation-delay: 0.39s;
-o-animation-delay: 0.39s;
animation-delay: 0.39s;
}

#bubblingG_3 {
-moz-animation-delay: 0.78s;
-webkit-animation-delay: 0.78s;
-ms-animation-delay: 0.78s;
-o-animation-delay: 0.78s;
animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-moz-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-moz-transform: translateY(-21px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-webkit-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-webkit-transform: translateY(-21px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-ms-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-ms-transform: translateY(-21px);
}

}

@-o-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-o-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-o-transform: translateY(-21px);
}

}

@keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
transform: translateY(-21px);
}

} 
/* AJAX LOADER */

@media all and (max-width:775px){
	ul.nav-submenu li {
		float: none;
		text-align: right;
		width: 100%;
	}
	ul.nav-submenu li a {
    	border-right: medium none;
		text-align: right !important;
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-default .navbar-nav > li:first-child > a {
		border-radius: 0;
	}
}



.sprite2 {
    background-image: url(../img/sprites2.png);
    background-repeat: no-repeat;
    display: block;
}
.sprite-block { margin: 5px auto;}
.sprite-inline {
    display: inline-block;
}

.sprite-arrow_down {
    width: 31px;
    height: 31px;
    background-position: -5px -5px;
}

.sprite-bell {
    width: 17px;
    height: 17px;
    background-position: -46px -5px;
}

.sprite-category_icon {
    width: 61px;
    height: 61px;
    background-position: -73px -5px;
}

.sprite-customer_management_icon {
    width: 61px;
    height: 61px;
    background-position: -144px -5px;
}

.sprite-excel {
    width: 24px;
    height: 25px;
    background-position: -5px -76px;
}

.sprite-gear {
    width: 20px;
    height: 20px;
    background-position: -39px -76px;
}

.sprite-home_03 {
    width: 21px;
    height: 21px;
    background-position: -69px -76px;
}

.sprite-inventory {
    width: 61px;
    height: 61px;
    background-position: -100px -76px;
}

.sprite-management_icon {
    width: 61px;
    height: 61px;
    background-position: -171px -76px;
}

.sprite-menu_icon {
    width: 61px;
    height: 61px;
    background-position: -5px -147px;
}

.sprite-next {
    width: 33px;
    height: 31px;
    background-position: -76px -147px;
}

.sprite-page_next {
    width: 33px;
    height: 31px;
    background-position: -119px -147px;
}

.sprite-page_prev {
    width: 33px;
    height: 31px;
    background-position: -162px -147px;
}

.sprite-prev {
    width: 33px;
    height: 31px;
    background-position: -76px -188px;
}

.sprite-printer {
    width: 23px;
    height: 20px;
    background-position: -205px -147px;
}

.sprite-promotion_icon {
    width: 61px;
    height: 61px;
    background-position: -215px -5px;
}

.sprite-purchase_icon {
    width: 61px;
    height: 61px;
    background-position: -242px -76px;
}

.sprite-refresh {
    width: 21px;
    height: 21px;
    background-position: -238px -147px;
}

.sprite-report {
    width: 14px;
    height: 18px;
    background-position: -286px -5px;
}

.sprite-sales_order_icon {
    width: 61px;
    height: 61px;
    background-position: -205px -178px;
}

.sprite-tree {
    width: 19px;
    height: 19px;
    background-position: -286px -33px;
}

.sprite-user {
    width: 18px;
    height: 18px;
    background-position: -269px -147px;
}

.error_msg { color: red; margin: 5px auto; text-align: center; display: block; }

